/*
 if desktop
.mobile_device_480px {
    display: none;
}
*/


@font-face {
    font-family: 'bluFont';
    src: url('css/pixearg_-webfont.woff2') format('woff2'),
         url('css/pixearg_-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


body {
   /*background: #cccccc;*/
    padding-left: 10%;
    min-height: 100%;
    height: 100%;
    min-width: 100%;
    margin: 0;
}

date {
    
    color: #333;
    font-size:16px;
    font-weight: bold;
}

img {
    width: 30%;
    height: 30%;
}

p {
    font-family: arial, sans-serif;
    color: #333;
    font-size:16px;
    font-weight: normal;
    line-height: 1.25;
    max-width: 30%;
    margin-top: 5px;
}


#wallpaper {
    min-height: 100%;
    
}


/* if mobile device max width 480px */
@media (max-width: 480px) {
   .mobile_device_480px{display: block;}
   .desktop {display: none;}
    
    p {
        font-family: arial, sans-serif;
        color: #333;
        font-size:16px;
        font-weight: normal;
        line-height: 1.25;
        max-width: 80%;
    
    }
    
    img {
        width: 80%;
        height: 80%;
    }

}