body {
    background: #cccccc;
        
}

date {
    font-family: arial, sans-serif;
    color: #333;
    font-size:12px;
    font-weight: bold;
    line-height: 1.5;
    font-smooth: never;
}

p {
    font-family: arial, sans-serif;
    color: #333;
    font-size:12px;
    font-weight: normal;
    line-height: 1.5;
    font-smooth: never;
}
